.review-card {
    width: 314px;
    background: var(--white);
    padding: 22px;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.1);

}
.review-info {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.review-info h6 {
    margin-bottom: 4px;
}

.review-desc {
    color: var(--black);
}